<% include partials/header %>

<div class="row">
	<% events.forEach(function(event) { %>
		<div class="col-md-6">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= event.image %>">
				<h2><%= event.name %></h2>
				<p><b>Starts:</b> <%= event.startDate %> | <b>Ends:</b> <%= event.endDate %></p>
				<% event.subjects.forEach(function(subject) { %>
					<div class="label label-default"><%= subject %></div>
				<% }) %>
				<% event.type.forEach(function(type){ %>
					<div class="label label-info"><%= type %></div>
					<% }) %>
				<p class="pull-right"><strong>Price: </strong>€<%= event.price %></p>
				<hr>
				<p><%= event.description.slice(0, 100) %> (...)</p>
				<a class="btn btn-primary" href="/events/cart/<%= event.id%>">Add to cart</a>
				<a type="button" class="btn btn-danger" href="/events/delete/<%= event.id%>">Delete</a>
				<a type="button" class="btn btn-success" href ="/events/update/<%=event.id%>">Update</a>
				<a type="button" class="btn btn-info" href ="/events/<%=event.id%>">Show Event</a>
				<a class="btn btn-default" href="/events/<%= event.id %>">Learn more</a>
				
			</div>
		</div>
	<% }) %>
</div>

<% include partials/footer %>