<% include partials/header %>
<h2>Add event</h2>
<form action="/admin/events/new" method="post">

	<label>Event name</label>
	<% if (err.name) { %>
		<p class="text-danger"><%= err.name %></p>
	<% } %>
	<input class="form-control" type="text" name="name" value="<%= newEvent.name %>">

	<label>Start date</label>
	<% if (err.startDate) { %>
			<p class="text-danger"><%= err.startDate %></p>
		<% } %>
	<input class="form-control" type="text" name="startdate" value="<%= newEvent.startDate %>">

	<label>End date</label>
	<% if (err.endDate) { %>
		<p class="text-danger"><%= err.endDate %></p>
	<% } %>
	<input class="form-control" type="text" name="enddate" value="<%= newEvent.endDate %>">

	<label>Subjects (separate with comma)</label>
	<% if (err.subjects) { %>
			<p class="text-danger"><%= err.subjects %></p>
		<% } %>
	<input class="form-control" type="text" name="subjects" value="<%= newEvent.subjects %>">

	<label>Type of event (separate with comma)</label>
	<% if (err.type) { %>
			<p class="text-danger"><%= err.type %></p>
		<% } %>
	<input class="form-control" type="text" name="type" value="<%= newEvent.type %>">

	<label>Image URL</label>
	<% if (err.image) { %>
		<p class="text-danger"><%= err.image %></p>
	<% } %>
	<input class="form-control" type="text" name="image" value="<%= newEvent.image %>">

	<label>Price (€)</label>
	<% if (err.price) { %>
			<p class="text-danger"><%= err.price %></p>
	<% } %>
	<input class="form-control" type="text" name="price" value="<%= newEvent.price %>">
	<label>Description</label>
	<% if (err.description) { %>
		<p class="text-danger"><%= err.description %></p>
	<% } %>
	<textarea name="description" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea><br>
	<input class="form-control" type="submit" value="Add event">
</form>

<% include partials/footer %>