<% include partials/header %>

<h2>Register</h2>
<form action="/register" method="POST">
	<% if (err.msg) { %>
		<p class="text-danger"><%= err.msg %></p>
	<% } %>
	
	<label>Username</label>
	<% if (err.username) { %>
		<p class="text-danger"><%= err.username %></p>
	<% } %>
	<input class="form-control" type="text"  name="username" value="<%= user.username %>">

	<label>password</label>
	<% if (err.password) { %>
		<p class="text-danger"><%= err.password %></p>
	<% } %>
	<input class="form-control" type="password" name="password" value="<%= user.password %>"><br>
	
	<input class="form-control" type="submit" value="Sign up">
</form>


<% include partials/footer %>